@{
    ViewBag.Title = "Brewery List";
}

<h2>Here's a list of awesome places that produce the 'solutions' for men's problem</h2>


<script src="~/Scripts/BreweryScript.js"></script>
<table id="myGrid" class="tableStyle">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>website</th>
            <th>description</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>website</th>
            <th>description</th>
        </tr>
    </tfoot>
</table>

<style type="text/css">
    .tableStyle tr:hover {
        background-color: lightcyan;
    }

    .tableStyle th {
        background-color: lightskyblue;
    }

    .tableStyle tr:nth-child(even) {
        background-color: lightgray;
    }
</style>