@{
    ViewBag.Title = "jQuery Datatable With Server Side Data";
}

<h2>jQuery Datatable With Server Side Data</h2>


<script src="~/Scripts/MyScripts.js"></script>
<table id="myGrid" class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
        </tr>
    </tfoot>
</table>